@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 231 48% 20%;
    --card: 231 60% 99%;
    --card-foreground: 231 48% 20%;
    --popover: 231 60% 99%;
    --popover-foreground: 231 48% 20%;
    --primary: 231 48% 48%;
    --primary-foreground: 231 60% 96%;
    --secondary: 231 40% 75%;
    --secondary-foreground: 231 48% 25%;
    --muted: 231 40% 88%;
    --muted-foreground: 231 30% 45%;
    --accent: 231 40% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 40% 85%;
    --input: 231 40% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 231 40% 63%;
    --chart-3: 231 40% 75%;
    --chart-4: 231 30% 45%;
    --chart-5: 231 60% 94%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 231 10% 10%;
    --foreground: 231 10% 85%;
    --card: 231 10% 15%;
    --card-foreground: 231 10% 85%;
    --popover: 231 10% 10%;
    --popover-foreground: 231 10% 85%;
    --primary: 231 48% 68%;
    --primary-foreground: 231 48% 10%;
    --secondary: 231 20% 25%;
    --secondary-foreground: 231 10% 85%;
    --muted: 231 20% 20%;
    --muted-foreground: 231 10% 60%;
    --accent: 231 40% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 20%;
    --input: 231 20% 20%;
    --ring: 231 48% 68%;
    --chart-1: 231 48% 68%;
    --chart-2: 231 40% 63%;
    --chart-3: 231 20% 25%;
    --chart-4: 231 10% 60%;
    --chart-5: 231 10% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
